.covid_table {
  margin: 0 auto;
  font-family: Helvetica;
  color: #252525;
}

.title {
  margin: 16px 0;
  font-size: 12px;
}

.table_contents {
  font-size: 10px;
  line-height: 18px;
  color: #252525;
}


.header {
  border-bottom: 2px solid #555;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #252525;
}

/* Highlight headers when sorting */
.header:hover,
.header[aria-sort="ascending"],
.header[aria-sort="descending"] {
  background-color: #eee;
}

.cases {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  color: #000;
  letter-spacing: -2px;
}